.choose-size-tab > .nav-tabs > li > a {
	width: 66px;
}
.single-post-head > h3 {
	font-weight:bold;
	margin-left:25px;
}
.nav-tabs>li.active>a:hover{
	background: repeat scroll 0 0 #926148;
	color:#FFF;
}
.single-post-head > span {
	font-size: 14px;
	padding: 25px 12px;
}

.product-code{
	color:#926148 !important;
	font-weight: bold !important;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	height: auto !important;
}
.tab-features ul li{
	width:100% !important;
}

.tab-features ul li i{
	background: none repeat scroll 0 0 #926148;
}
#product-sizes > div > p{
	text-align: justify;
}

.choose-size-tab > p{
	font-weight: bold;
}

#inner-head h1{
	font-size: 35px;
}

.description-content{
	padding-left:2%;
	font-family: open sans;
	font-size: 13px;
	letter-spacing: 0.3px;
	text-align:justify;
}

.description ul li{
	margin-top: 3%;
}

.choose-size-tab{
	margin-top: 5%;
}
.info-product-icon{
	color: lightgray !important;
	font-size: 10px !important;

}
.info-product{
	color: lightgray !important;
	font-size: 10px !important;
}
.product-link{
	color: #444444;
	font-family: Noto Sans;
	font-size: 15px;
	letter-spacing: 0.3px;
}
.available-at{
	font-weight: bold !important;
	color: #383838;
	font-family: open sans;
	font-size: 15px;
	font-weight: 500;
	line-height: 12px;
	margin: 0 0 15px;
}
.tab-content >a > img{
	height:75px;
}
.single-post-head{
	margin-bottom: 10px;
}
.description{
	margin-top: 0px;
}